{
  "auths": {
    "cloud.openshift.com": {
      "auth": "YOUR_AUTH_TOKEN_HERE",
      "email": "your-email@example.com"
    },
    "quay.io": {
      "auth": "YOUR_AUTH_TOKEN_HERE",
      "email": "your-email@example.com"
    },
    "registry.connect.redhat.com": {
      "auth": "YOUR_AUTH_TOKEN_HERE",
      "email": "your-email@example.com"
    },
    "registry.redhat.io": {
      "auth": "YOUR_AUTH_TOKEN_HERE",
      "email": "your-email@example.com"
    }
  }
}
