apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-apps-cert
  namespace: openshift-ingress
spec:
  secretName: wildcard-apps-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: '*.apps.{{ cluster_config.cluster_name }}.{{ cluster_config.base_domain }}'
  dnsNames:
  - '*.apps.{{ cluster_config.cluster_name }}.{{ cluster_config.base_domain }}'
  duration: 2160h  # 90 days
  renewBefore: 720h  # 30 days
