---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ nmstate_operator_namespace }}
  labels:
    name: {{ nmstate_operator_namespace }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ nmstate_operator_name }}
  namespace: {{ nmstate_operator_namespace }}
spec:
  targetNamespaces:
    - {{ nmstate_operator_namespace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ nmstate_operator_name }}
  namespace: {{ nmstate_operator_namespace }}
spec:
  channel: {{ nmstate_operator_channel }}
  name: {{ nmstate_operator_name }}
  source: {{ nmstate_operator_source }}
  sourceNamespace: {{ nmstate_operator_source_namespace }}
